Unity/.idea
Unity/Bundles
Unity/Library
Unity/obj
GeekConfig/.idea
GeekConfig/Test
Server/.idea
Server/database
Server/bin
Server/**/obj
Unity/*.csproj
FairyGUIProject/.objs
FairyGUIProject/plugins/.idea
Unity/Sandbox
Unity/Temp
Unity/Assets/Bundles/Code
Unity/HybridCLRData/HotUpdateDlls
Unity/HybridCLRData/LocalIl2CppData-WindowsEditor
Unity/HybridCLRData/hybridclr_repo
Unity/HybridCLRData/il2cpp_plus_repo
Tools/Geek.MsgPackTool-src/.idea
Server/**/bin
Unity/.cache.meta
docker/mongo/database
Unity/Packages/packages-lock.json
Unity/Unity.sln.DotSettings.user
Unity/Unity.sln
docker/redis/apps/datadir
.DS_Store
Unity/HybridCLRData
Unity/Builds
Unity/Logs
Unity/Android_Symbols
Proto2CSApp/.idea
Proto2CSApp/obj
Proto2CSApp/bin
