Unity/.idea
Unity/Bundles
Unity/Library
Unity/obj
GeekConfig/.idea
GeekConfig/Test
Server/.idea
Server/database
Server/bin
Server/**/obj
Unity/*.csproj
FairyGUIProject/.objs
FairyGUIProject/plugins/.idea
Unity/Sandbox
Unity/Temp
Unity/Assets/Bundles/Code
