.idea
/Bundles
Library
obj
*.csproj
Sandbox
Temp
Assets/Bundles/Code
.cache.meta
Unity.sln.DotSettings.user
Unity.sln
Builds
Logs
Android_Symbols
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
HybridCLRData/
!Assets/HybridCLRData/
!Assets/HybridCLRData/Generated/
!Assets/HybridCLRData/Generated/HotfixAotPreserve/
!Assets/HybridCLRData/Generated/HotfixAotPreserve/**
.DS_Store
Assets/Bundles/AOTCode/*

# gfx-project
backlog.md
log.md
roadmap.md
CLAUDE.md
gfx-doc/.sync-cursor
